body {
	background-color: darkslategrey;
	cursor: pointer;
}
.box {
	border: 1px solid black;
	height: 240px;
	width: 400px;
	margin: 50px auto;
	margin-top: 90px;
	/*background: linear-gradient(#f4e409, #f1cf0a, #eeba0b);*/
	background: url("img/wilhelm-gunkel-0TO6MY7_mw4-unsplash.jpg");
	background-size: cover;
	border-radius: 8px;
	box-shadow: 2px 4px 18px 5px;
	color: currentColor;
	opacity: 0.8;
}
.box:hover {
	box-shadow: 3px 6px 28px 7px;
}
img {
	position: absolute;
	left: 55%;
	top: 18%;
}
.chip {
	position: absolute;
	left: 37%;
	top: 26%;
	border: 1px solid rgb(0, 0, 0 0.2);
	border-radius: 12px;
}
h {
	font-family: kelly slab, cursive;
	color: wheat;
	font-size: 24px;
	position: absolute;
	left: 37%;
	top: 35%;
	letter-spacing: 6px;
}
h1 {
	font-family: kelly slab, cursive;
	color: wheat;
	font-size: 12px;
	position: absolute;
	left: 37%;
	top: 39%;
	font-weight: normal;
	opacity: 0.2;
}
h4 {
	width: 10px;
	font-family: kelly slab, cursive;
	color: wheat;
	font-size: 12px;
	position: absolute;
	left: 55%;
	top: 38%;
	font-weight: normal;
	line-height: -10px;
	opacity: 0.3;
}
t {
	font-family: kelly slab, cursive;
	color: wheat;
	position: absolute;
	left: 57.4%;
	top: 40.7%;
	letter-spacing: 2px;
}
h2 {
	font-family: kelly slab, cursive;
	color: wheat;
	font-weight: normal;
	position: absolute;
	left: 37%;
	top: 43%;
	letter-spacing: 3px;
}
@media (max-width: 390px) {
	img {
		position: absolute;
		top: 17%;
		left: 64%;
	}
}
@media (max-width: 390px) {
	.chip {
		position: absolute;
		left: 10%;
	}
}
@media (max-width: 390px) {
	h {
		position: absolute;
		width: fit-content;
		top: 37%;
		left: 10%;
	}
}
@media (max-width: 390px) {
	h2 {
		position: absolute;
		left: 10%;
		top: 45%;
	}
}
